<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Eliza Beth Littleton</h2>
            <h4>email</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructors">Instructors</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cases">Case</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/qrcodes">QR code</a> -->
    
</mat-nav-list>


