<mat-toolbar>
    <span class="center">New Instructor</span>
</mat-toolbar>

<form [formGroup]="instructorForm" class="normal-form" (submit)="addInstructor()">
    <mat-grid-list cols="2" rowHeight="175px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="firstname" matInput placeholder="Firstname">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="lastname" matInput placeholder="Lastname">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <div>
                    <button mat-raised-button type="submit"
                        [disabled]="instructorForm.invalid">Submit</button>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</form>