.mat-icon {
    transform: scale(2);
    vertical-align: middle;
    color: white;
}

.mat-card {
    max-width: 800px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 40px;
    background-color: #00205B;
}

button {
    color: white;
    font-size: 30px;
}
table {
    width: 100%;
}

h1{
    color:#B58500;
    font-weight: bold;
}