.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

table {
    width:100%;
}

h1{
    color:#B58500;
    font-weight: bold;
}

button{
    background-color: #00205B;
    color: white;
}

mat-toolbar {
    background-color: #00205B;
    color: white;
}

button {
    background-color: #00205B;
    color: white;
}

.center {
    text-align: center;
  }

.controles-container {
    display: flex;
    flex-direction: column;
 }

 .controles-container > * {
    width: 100%;
 }