<!-- <button mat-button routerLinkActive="list-item-active" routerLink="/" class="back">Dashboard</button>

<br>
<br>

<h1 color="primary">QR Code</h1>

<hr>

<form [formGroup]="Qrform" class="normal-form" (submit)="updateUrl()">
    <mat-grid-list cols="2" rowHeight="175px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="newurl" matInput placeholder="NewUrl">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <div>
                    <button mat-raised-button type="submit"
                        [disabled]="Qrform.invalid">Submit</button>
                </div>
            </div>
        </mat-grid-tile>

<mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Enter url here to update QR code"></textarea>
  </mat-form-field> -->